html {
    background-color: #aeb6cb;
    font-family: hero-new, sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: #333;
}

#my-name {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 1000;
}

.my-handle {
    color: #1d41a4;
}

a {
    text-decoration: none;
    color: #1d41a4;
}

a:hover {
    color: #fa0b00;
}

p.github-link-logo img,
p.github-link-logo-autofill img,
p.vjloops-link-logo img,
p.vjloops-link-logo img {
    width: 17px;
    height: 17px;
    margin-top: -3px;
    margin-right: 5px;
    vertical-align: middle;
}

p.github-link-logo img, p.github-link-logo-autofill img {
    content: url(icons/github-mark-black-35px.png);
}

p.vjloops-link-logo img, p.vjloops-link-logo img {
    content: url(icons/vjloops-rounded-35px.png);
}

p.github-link-logo-autofill a::after {
    content: "GitHub";
}

p.vjloops-link-logo a::after {
    content: "VJ Loops";
}

#main-container {
    border-radius: 10px;
    max-width: 700px;
    width: 60%;
    background-color: #d8e0f1;
    margin: 180px auto auto;
    padding: 50px 70px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

#social-media-icons {
    width: 360px;
    margin: 40px auto 5px;
    text-align: center;
    /*background-color: red;*/
}

#social-media-icons img {
    padding-left: 5px;
    padding-right: 5px;
    opacity: 60%;
    width: 35px;
    height: 35px;
}

#social-media-icons img:hover {
    opacity: 90%;
    transform: rotate(12deg);
}

img#profile-pic {
    border-radius: 100%;
    width: 180px;
    height: 180px;
    outline-offset: -1px;
    outline: 2px solid #2a2d33;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    display: block;
    /*margin: -83px auto 40px;*/
    margin-top: -110px;
    margin-bottom: 40px;
    margin-left: 15px;
    transform: rotate(4deg);
}

.code-block, pre code.hljs {
    font-size: 12px;
    border-radius: 2px;
    background-color: #eeeeee;
    padding: 15px 20px 0;
    width: 600px;
}

.code-block {
    font-family: "Courier New", serif;
}

img.movie-poster {
    margin-top: 10px;
    margin-right: 16px;
}
